

.theme1{
    margin: 0;
    min-width: 960px;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: #f2f2f2;
    background-color: #080208;
    background-image: url("img/theme-1.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}
.theme2{
    margin: 0;
    min-width: 9px;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: #f2f2f2;
    background-color: #080208;
    background-image: url("img/theme-2.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}

.heart {
    padding: 30px 30px;
    min-width: 40px;
    min-height: 34px;
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url("img/heart.png");
    background-position: center;
    background-size: 100%;
}

.heart.added {
    background-image: url("img/heartB.png");
}



.cnopkaTem {
text-align: right;
}

.me{
    border: #ffffff;
    border-color: rgba(0,0,0,0.2);
    border-style: ridge;
    border-radius: 50%;
    text-align: center;
}
.heading1 {
    margin: 0 0 24px;
    font-size: 80px;
    line-height: 96px;
    text-align: center;
}
.heading2 {
    margin: 0 0 24px;
    font-size: 80px;
    line-height: 96px;
    text-align: center;
}
.Gifka {
    text-align: center;
}
.ContPoleVvoda{
    text-align: center;
}
p {
    font-weight: 700;
    padding: 50px;
    margin: 35px 0 5px;
}

.spis{
text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}

.ssilka{

    text-align: center;
    color: #fffdf5;
    font-size: xx-large;
}

.comment-feed h2 {
    margin-top: 0;
    margin-bottom: 12px;
}

.container{
    margin-left: 35%;
    margin-right: 35%;

    text-align: center;
    border: dashed;
    border-color: red;

}

.comment-inner {
    position: relative;
    flex-grow: 1;
    margin-right: 10px;
}

li.user-comment{
    border-style: dashed;
}













.tooltip-button {
    cursor: pointer;
    position: relative;
    padding: 1px 8px;
    border: none;
    color: red;
    font: inherit;
}

.tooltip-button::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 4px solid;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

/* Стили тултипа */
@keyframes tooltip-opener {
    0% {
        background-color: red;
        transform: translate(50%) scaleX(0);
    }

    100% {
        background-color: aqua;
        transform: translate(100%) scaleX(100%);
    }
}

.tooltip {
    z-index: 2;
    display: none;
    flex-direction: row-reverse;
    position: fixed;
    max-width: 256px;
    right: 0;
    top: 160px;
    border-radius: 8px 0 0 8px;
}

.opened {
    display: flex;
    animation: tooltip-opener 1500ms;
}

.tooltip-text {
    display: flex;
    align-items: center;
    padding: 10px;
}

.close-button {
    min-height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    margin: 0;
    padding: 0;
    border-radius: 8px 0 0 8px;
}

.close-button span {
    display: inline-block;
    vertical-align: middle;
    transform: rotate(-90deg);
}