body {
    margin: 0;
    min-width: 960px;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: #f2f2f2;
    background-color: #080208;
    background-image: url("img/image-2.jpg");
    background-repeat: no-repeat;
}

.heading{
    text-align: center;
    color: red;
    font-size: 120px;
}



